- title "All Services"

%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Service Name

  %tbody
    - @services.each do |service|
      %tr
        %td= service.id
        %td= service.name
        %td
          = link_to 'Show', service, class: "btn btn-sm btn-info"
          = link_to 'Edit', edit_service_path(service), class: "btn btn-sm btn-primary"
          = link_to 'Destroy', service, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-sm btn-danger"

%br

= link_to 'New Service', new_service_path, class: "btn btn-sm btn-primary"