- title "All Incidents"

%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Incident Time
      %th Summary
      %th Faulted service
      %th Contact people
      %th Tags
      %th Hosts
      %th Task url
      %th

  %tbody
    - @incidents.each do |incident|
      %tr
        %td= incident.id
        %td= incident.incident_time.to_s(:short)
        %td= incident.summary
        %td= incident.faulted_service.name
        %td= incident.contact_people
        %td= incident.tags
        %td= incident.hosts
        %td= incident.task_url
        %td
          = link_to 'Review', incident_review_path(incident), :method => :post, class: "btn btn-sm btn-info"
          = link_to 'Show', incident, class: "btn btn-sm btn-info"
          = link_to 'Edit', edit_incident_path(incident), class: "btn btn-sm btn-primary"
          = link_to 'Destroy', incident, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-sm btn-danger"

%br

